.author-container {
  box-sizing: border-box;
  padding: 20px;
  box-shadow: 0px 0px 4px  0px rgba(0,0,0,.04);
  border-bottom: 1px solid rgba(0,0,0,.09);
  border-radius: 3px !important;
}

.author-section {
  font-family: 'Roboto Condensed', sans-serif;
  display: grid;
  margin-left: 20%;
  margin-right: 20%;
  grid-gap: 10px;
    grid-template-columns: 75% 25%;
    grid-template-rows: auto;

}

.author-page h2[class="features"] {
  font-size: 18px;
  font-family: 'Roboto Condensed', sans-serif;
  background-color: #fafafa;
  max-width: 640px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
  padding-bottom: 20px;

}
.background {
  background-color: #fafafa
}

.info2 {
  display: flex-box;
  flex-direction: column;
}

.author-section h2 {
  font-size: 32px;
  background-color: #fff;
}

.bold {
  font-weight: bold;
}

.follow {
  color: #00ab6b;
  font-family: 'Roboto Condensed', sans-serif;
  border: 1px solid #00ab6b;
  padding-left: 14px;
  padding-right: 14px;
  margin-right: 10px;
  border-radius: 999em;
}

.following {
  color: #fff !important;
  background-color: #00ab6b !important;
  border: 1px solid #00ab6b;
  padding-left: 14px;
  padding-right: 14px;
  border-radius: 999em;
}

.author-section h3 {
  font-size: 16px;
  margin-top: 4px;
  background-color: #fff;
  color: rgba(0,0,0,.6);
}

.author-section img {
  width: 80px;
  height: 80px;
  clip-path: circle(40px at center);
}

.authorIndexItem {
  display: flex-box;
  flex-direction: column;
  font-family: 'Roboto Condensed', sans-serif;
  background-color: #fff;
  margin-bottom: 20px;
  box-shadow: 0 1px 4px rgba(0,0,0,.04);
  border: 1px solid rgba(0,0,0,.09);
  border-radius: 3px !important;
  max-width: 640px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

.authorIndexItem img[class="avatar2"] {
  height: 36px;
  width: 36px;
  clip-path: circle(18px at center);
  clip: rect(0px, 0px, 0px, 0px);
}



.authorIndexItem img {
  align-self: center;
  width: 80%;
  height: auto;
  clip: rect(0px,0px,0px,0px);
}

.stories-index {
  display: flex;
  flex-direction: column;
  background-color: #fafafa
}

.story-info {
  display: flex-box;
  flex-direction: column;
}

.story-info img[class="author"] {
  margin-top: 30px;
}

.story-info a[class="title"] {
  padding-top: 10px;
  font-size: 28px;
}

.story-info h2[class="read"]{
  align-items: center;
  padding-top: 24px;
  padding-bottom: 10px;
  font-size: 18px;
}
