.comments {
  padding: 20px;
}

.comments h2 {
  color: rgba(0,0,0,.44);
  padding-left: 20%;
  padding-bottom: 30px;
}

.comments form {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.space {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  color: #00ab6b;
}

.button[class="show-comments"] {
  color: #00ab6b
}

.comments div[class="author-info"] {
  padding-bottom: 20px;
}

.comments input[type="submit"]{
  color: #00ab6b;
}

.comment-info {
  display: flex-box;
  flex-direction: column;
  font-family: 'Roboto Condensed', sans-serif;
  background-color: #fff;
  margin-bottom: 20px;
  box-shadow: 0 1px 4px rgba(0,0,0,.04);
  border: 1px solid rgba(0,0,0,.09);
  border-radius: 3px !important;
  max-width: 640px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 30px;
}

.newComment {
  display: flex-box;
  flex-direction: column;
  font-family: 'Roboto Condensed', sans-serif;
  background-color: #fff;
  margin-bottom: 20px;
  box-shadow: 0 1px 4px rgba(0,0,0,.04);
  border: 1px solid rgba(0,0,0,.09);
  border-radius: 3px !important;
  max-width: 640px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

.comment-info p {
  padding-top: 10px;
  padding-bottom: 20px;
}

.author-info img[class="avatar2"] {
  height: 36px;
  width: 36px;
  clip-path: circle(18px at center);
  clip: rect(0px, 0px, 0px, 0px);
}

.commentIndexItem img[class="avatar2"] {
  height: 36px;
  width: 36px;
  clip-path: circle(18px at center);
  clip: rect(0px, 0px, 0px, 0px);
}

.allComments {
  border: 1px solid gray;
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 20px;
}

.newComment textarea {
  resize: none;
  padding-top: 10px;
  width: 497px;
  height: 36px;
  margin-top: 0px;
}

.comments ul {
  list-style: none;
}
