.modal {
  width: 400px;
  display: flex;
  margin-left: 25%;
  margin-top: 100px;
  font-family: 'Roboto Condensed', sans-serif;
  background-color: white;
  box-shadow: 10px 10px 5px black;
}


.Overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: opacity 1s ease-in-out;
  background: black;
  opacity: .5;
}

.modal div[class="buttons"]{
  margin-left: 90px;
}

.modal img {
  background-color: #D3D3D3;
  margin: auto;
  padding-top: 20px;
  width: auto;
  height: 100px;
}
.modal header[class="head"]{
  background-color: #D3D3D3;
  margin-bottom: 10px;
}

.modal h2 {
  color: black;
  background-color: #D3D3D3;
  text-align: center;
  height: 40px;
  padding-top: 20px;
  padding-bottom: 10px;
  font-size: 34px;
}

.modal h3 {
  color: black;
  font-size: 16px;
  margin: 10px 24px 0px 24px;
  padding-left: 58px;
  padding-right: 32px;
  font-weight: lighter;
}

.modal label {
  margin-top: 10px;
  margin-bottom: 10px;
  color: black;
  font-size: 20px;
}


.modal form {
  display: flex-box;
  align-items: center;
  margin-left: 20px;
  margin-bottom: 20px;
}

.modal input[type="text"], .modal input[type="password"]  {
  color: black;
  margin-left: 10px;
  margin-top: 10px;
  width: 80%;
  border-bottom: solid 2px #c9c9c9;
  transition: border 0.3s;
}

.modal ul li {
  color: red;
  padding-top: 10px;
}

.modal button {
  margin-top: 10px;
  margin-right: 10px;
  color: #00ab6b;
  padding: 10px;
  font-size: 20px;
  border: 1px solid #00ab6b;
}

.modal button:hover {
  align-items: baseline;
  color: #1c9963;
}


.modal input[type="text"]:focus, .modal input[type="password"]:focus {
  border-bottom: solid 2px #969696
}

.modal input[type="submit"] {
  margin-top: 10px;
  color: #00ab6b;
  padding: 10px;
  font-size: 20px;
  border: 1px solid #00ab6b;
}

.modal a.link {
  color: #00ab6b;
}

.modal input[type="submit"]:hover {
  align-items: baseline;
  color: #1c9963;
}
