.story {
  z-index: 1;
  background-color: #fff;
}

.background {
  background-color: #fafafa
}

.story section[class="author"] {
  display: flex;
  color: black;
  padding: 20px 20px 20px 20px;
}

.story section[class="author"] div[class="info"] {
  padding-left: 15px;
  display: flex-box;
  flex-direction: column;
  max-width: 500px;
}


.story section[class="author"] div[class="author-follow"] {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  align-items: center;
  padding-bottom: 5px;
}

.story a {
  font-size: 24px;
  font-family: 'Roboto Condensed', sans-serif;
}

.story button[class="following"] {
  margin-left: 10px;
}

.story button[class="follow"] {
  margin-left: 10px;
}



.story section[class="author"] h3 {
  color: rgba(0,0,0,.44);
  font-size: 13px;
  margin: 0;
}

.story section[class="body"] {
}


.avatar {
  height: 60px;
  width: auto;
  clip-path: circle(30px at center)
}

.story h1 {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 32px;
  padding-left: 20px;
  padding-bottom: 20px;
}

.story p {
  font-family: 'Roboto Condensed', sans-serif;
  padding: 20px 20px 20px 20px;
}

.story h2 {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 20px;
}

.responses {
  color: red;
}


.svgIcon-use {
  fill: #00ab6b;
}

.likes {
  display: flex;
  align-items: center;
  padding-left: 30%;
}

.likes li {
  padding-left: 10px;
  color: rgba(0,0,0,.44);
}
