.topics {
  display: flex;
  font-family: 'Roboto Condensed', sans-serif;
  border-top: 1px solid rgba(0,0,0,.05);
  border-bottom: 1px solid rgba(0,0,0,.05);
  box-shadow: 1px 1px 1px rgba(0,0,0,.05);
  padding: 0px 20px 0px 20px;
  z-index: 1;
}

.sub-topics ul {
  display: flex;
  align-items: center;
  color: rgba(0,0,0,.44);
}

.sub-topics li {
  padding: 10px 12px 10px 0px;
}

.sub-topics li:hover{
  color: rgba(0,0,0,.6);
}
