<!DOCTYPE html>
<html>
  <head>
    <title>Meadium</title>
    <%= csrf_meta_tags %>
    <link rel="icon" href="https://upload.wikimedia.org/wikipedia/commons/2/23/Lake_mapourika_NZ.jpeg"/>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
